#modalMarioFooter {background-color: red;}

#modalLuigiFooter {background-color: rgb(0, 95, 0);}

#modalYoshiFooter {background-color: rgb(34, 223, 75);}

#modalPeachFooter {background-color: rgb(236, 158, 171);}

#modalWarioFooter {background-color: blueviolet;}

#modalDkFooter {background-color: rgb(102, 72, 16);}

#modalDaisyFooter {background-color: orange;}

#modalWaluigiFooter {background-color: blueviolet;}

#modalBowserFooter {background-color: rgba(27, 26, 26, 1);}

#modalBowserJrFooter {background-color: rgba(128, 128, 128, 1);}

#modalToadFooter {background-color: rgb(248, 1, 1);}

#modalRosalinaFooter {background-color: aqua;}

#modalGoombaFooter {background-color: brown;}

#modalKoopaFooter {background-color: greenyellow;}

#modalBooFooter {background-color: rgb(212, 212, 212);}

#modalBoombFooter {background-color: gray;}

#modalPiranhaFooter {background-color: rgb(175, 30, 30);}

#modalWhompFooter {background-color: gray;}

#modalChainFooter {background-color: gray;}

#modalBirdoFooter {background-color: red;}

#modalShyGuyFooter {background-color: rgb(156, 7, 7);}

#modalThwompFooter {background-color: gray;}

#modalBlooperFooter {background-color: rgb(0, 140, 221);}

#modalKamekFooter {background-color: aqua;}